html
    +i18n('Home', '首页', 'zh_cn')
    +i18n('Albums', '相册', 'zh_cn')
    +i18n('Categories', '分类', 'zh_cn')
    +i18n('Archive', '归档', 'zh_cn')
    +i18n('Tags', '标签', 'zh_cn')
    +i18n('About', '关于', 'zh_cn')
    +i18n('Links', '友链', 'zh_cn')
    head
        +mobile_meta()
        meta(name="keywords", content=site.configs.keywords.escaped)
        meta(name="description", content=site.raw_content.escaped)
        block title
            title= request.args.s or post.title or tags.join('+') or category.title or site.title
        load('fonts /template/blog/style.scss')
        link(href='/service/static_3rd/staticfile/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
        link(href="https://fonts.googleapis.com/css?family=Molle:400i|Roboto:300",rel="stylesheet")
    body
        #body_wrapper
            header#header.header
                .header_wrapper
                    .layout
                        h1.title= site.title
                        nav#nav.nav
                            ul.nav-list.clf
                                li
                                    a(href="/") Home
                                li
                                    a(href="/category/dailylife") DailyLife
                                li
                                    a(href="/category/frontend") FrontEnd
                                li
                                    a(href="/category/draw") Draw
                                li
                                    a(href="/category/travel") Travel
            block banner
            #main.layout
                block content
            footer.footer#footer
                a.back(href='#header', title='返回顶部')
                        i.fa.fa-chevron-up
                .layout
                    .footer_box.footer_about
                        .footer_item
                            h5.title Search
                            form(action='/',method='get')
                                input.search_text(type='text',name='s',placeholder='Search')
                                input.search_submit(type='submit')
                    .footer_box.footer_tag
                        .footer_item
                            h5.title Tag Cloud
                            .tag_cloud
                            for tag in site.tags
                                a.tag_item(href='/tag/{{tag[0]}}') {{tag[0]}}
                    .footer_box.footer_contact
                        .footer_item  
                            h5.title Contact
                            .contact
                                a.fa.fa-twitter(href='https://twitter.com/sollrei', target='_blank', title='Twitter')
                                a.fa.fa-github(href='https://github.com/sollrei/FarBox-theme-wide', target='_blank', title='github')
                                a.fa.fa-weibo(href='http://weibo.com/sollrei', target='_blank', title='weibo')
                                a.pixiv(href='http://www.pixiv.net/member.php?id=2383290', target='_blank', title='Pixiv')
                                    b P
                .powered_by
                	a(href="https://www.farbox.com", target="_blank") Powered By FarBox.com 
                    span  ©2016-2017 Sollrei
            +load('jquery')
            +load('imageloaded.js')
            +load('masonry.js')
            +load('highlight.pack.js')
            +load('particles.js')
            +load('main.js')