extends base2
block banner
	div.media_wrap.media_index
		.media_title
			p.desc どうか、君と君を囲むこの世界が、これからも幸せでありますように。
		#particles-js.media(style="background-image: url(https://unsplash.it/1930/1000?image=459)")