//*********************************************************************//
//                              settings                               //
//*********************************************************************//

// value settings
$font_color: #191919;
$bg1: #fff;
$primary: #58b798;
$theme: #f0f4f7;

// related colors
$font_color2: lighten($font_color, 45%);
$bg2: darken($bg1, 3.6%);
$line_color: lighten($font_color, 80%);
$line_color2: lighten($font_color, 82%);

// fixed colors
$shadow_color: rgba(110, 110, 110, 0.1);
$easing1: cubic-bezier(0.15, 0.95, 0.41, 0.95);

// responsive break points
$phone_landscape-min: 534px;
$phone_landscape-max: 767px;

.border_container {
    box-shadow: 0 1px 5px $shadow_color;
    border: 1px solid #eee;
    border-radius: 0.2em;
}

// functions
@mixin box-sizing($value) {
    box-sizing: $value;
    -webkit-box-sizing: $value;
}

@mixin transform($value) {
    transform: $value;
    -webkit-transform: $value;
}

@mixin aColor($value) {
    color: $value;
    &:active {
        color: $value;
    }
    &:visited {
        color: $value;
    }
    &:hover {
        color: lighten($value, 5%);
        border-bottom: 1px solid lighten($value, 5%);
    }
}

//*********************************************************************//
//                               global                                //
//*********************************************************************//

* {
    @include box-sizing (content-box);
}

html, body {
    height: 100%;
    background: $theme;
}

body {
    line-height: 1.6;
    font-family: "Roboto", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
    font-size: 1em;
    color: $font_color;
    overflow-x: hidden;
}

::selection {
    background: $primary;
    color: #fff;
}

::-moz-selection {
    background: $primary;
    color: #fff;
}

.layout {
    width: 1200px;
    margin: 0 auto;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

input, select, textarea {
    font-size: 100%
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

th {
    text-align: inherit
}

fieldset, img {
    border: 0
}

iframe {
    display: block
}

abbr, acronym {
    border: 0;
    font-variant: normal
}

del {
    text-decoration: line-through
}

address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: 500
}

ol, ul {
    list-style: none
}

caption, th {
    text-align: left
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 500
}

q:before, q:after {
    content: ''
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #58b798;
    text-decoration: underline
}

code, kbd, pre, samp {
    font-family: monospace, serif;
    font-size: 14px;
}

pre {
    margin-bottom: 10px;
}

.clearfix:after, .layout:after, .clf:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: '.';
    clear: both;
    height: 0
}

.clearfix, .layout, .clf {
    zoom: 1
}

.clear {
    font-size: 0;
    line-height: 0;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden
}

.fn-hide {
    display: none
}

.fl, .fr {
    display: inline
}

.fl {
    float: left
}

.fr {
    float: right
}

.fn-rmb {
    font-family: arial, sans-serif;
    font-style: normal;
    padding-right: 4px
}

.fn-webkit-adjust {
    -webkit-text-size-adjust: none
}

.hidden {
    display: none;
}

#on_loading {
    height: 3em;
    line-height: 3em;
    text-align: center;
}



//*********************************************************************//
//                               header                               //
//*********************************************************************//

.header {
    background: #fff;

    .header_wrapper {
        padding: 20px 0 0;
        margin: 0 auto;
    }

    .title {
        padding: 0 0 20px;
        margin: 0;
        font-size: 2em;
        text-align: center;
        border-bottom: 1px solid $theme;
        font-family: "Molle", sans-serif;
    }

    .nav {
        padding: 20px 0;
    }

    .nav-list {
        list-style: none;
        display: block;
        text-align: center;
        padding: 0;

        li {
            display: inline;
            font-size: 16px;
        }

        a {
            color: #333;
            padding-right: 25px;
            padding-left: 25px;
            text-transform: uppercase;
        }
    }
}

.media_wrap {
    position: relative;

    .media_title {
        position: absolute;
        width: 100%;
        top: 0;
        padding-top: 120px;
        height: 280px;
        background: rgba(0,0,0,.3);
        left: 0;
        text-align: center;
        color: #fff;
        z-index: 100;
        font-size: 24px;
        text-transform: capitalize;
        font-weight: 400;
        letter-spacing: 5px;
    }

    h2 {
        padding-bottom: 10px;
    }

    .count {
        padding-top: 5px;
        display: inline-block;
        border-top: 1px solid #fff;
        font-size: 14px;
        letter-spacing: 3px;
    }

    .desc {
        font-size: 16px;
        padding-top: 10px;
    }
}



.media {
    height: 400px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
    margin-bottom: 30px;
    background-position: center center;
}

.media_tag {
    .media {
        height: 200px;
    }
    .media_title {
        height: 150px;
        padding-top: 50px;
    }
}

.media_index {
    .media_title {
        padding-top: 170px;
        height: 230px;
        background-color: rgba(0,0,0,0);
    }
}


//*********************************************************************//
//                       post in list or detail                        //
//*********************************************************************//

.post {
    .post_body {
        img {
            max-width: 90%;
            display: block;
            margin: 0 auto;
        }
        p {
            line-height: 1.8;
            margin: 0 0 10px;
            br {
                line-height: 2.1;
            }
        }
        a {
            @include aColor($primary);
            &:hover {
                border-bottom: 1px solid $primary;
            }
        }
        h1, h2, h3, h4, h5, h6 {
            font-weight: bold;
        }
        h1 {
            margin: 0.5em 0;
            font-size: 2.4em;
        }
        h2 {
            margin: 0.6em 0;
            font-size: 2em;
        }
        h3 {
            margin: 0.8em 0;
            font-size: 1.5em;
        }
        h4 {
            margin: 1em 0;
            font-size: 1.2em;
        }
        h5 {
            margin: 1.2em 0;
            font-size: 1em;
        }
        h6 {
            margin: 1.5em 0;
            font-size: 0.8em;
        }
        i, em {
            font-style: italic;
        }
        b, strong {
            font-weight: bold;
        }
        ul {
            padding: 0 0 0 1em;
            list-style: disc;
        }
        ol {
            margin: 0 0 1.2em;
            padding: 0 0 0 2em;
            list-style: decimal;
        }
        blockquote {
            padding: 1.5em 1.8em;
            margin: 0 0 1.2em;
            background: lighten($line_color, 8%);;
            border-left: 2px solid darken($line_color, 10%);
            font-size: 0.8em;
            p {
                margin: 0;
            }
        }
        hr {
            width: 100%;
            height: 1px;
            margin: 3em 0;
            padding: 0;
            background: none;
            border: none;
            border-bottom: 1px solid #eee;
        }

    }

    .info {
        color: $font_color2;
        line-height: 1.5;
        font-size: 12px;
        margin: 10px 0 30px;
        i {
            margin-right: 5px;
            position: relative;
            top: -1px;
            font-size: 1.1em;
        }
        span {
            font-family: droid-sans, stheiti, 'microsoft yahei', sans-serif;;
        }
        .date {
            margin: 0 1.5em 0 0;
        }
        .visitors {
            margin: 0 1.5em 0 0;
        }
        .tags {
            a {
                margin: 0 0.5em 0 0;
            }
            i {
                font-size: 10px;
                margin-right: 5px;
            }
        }

        .go_editor, .show_raw {
            color: $font_color2;
            margin-right: 10px;
            &:hover {
                color: $primary;
                border-bottom: none;
            }
            .fa-edit {
                top: 1px;
            }
        }
        .go_editor {
            margin-right: 25px;
        }
    }
}

//******************************  post detail *******************************//

.detail {
    margin-top: 30px;
    float: left;
    width: 70%;
    background: #fff;
    position: relative;

    .content {
        padding: 2.5em;

        .title {
            margin: 0 0 1em;
            padding: 0 0 .6em;
            border-bottom: 1px solid $theme;
            font-size: 2em;
        }
    }

    .other_posts {
        bottom: 0;
        left: 0;
        width: 100%;
        border-bottom: 1px solid $line_color2;
        border-top: 1px solid $line_color2;
        height: 4em;
        overflow: hidden;
        line-height: 4em;
        font-size: 1.0em;
        position: relative;
        a {
            &:hover {
                color: #fff;
                background: $primary;
            }
        }
        .pre {
            position: absolute;
            text-align: left;
            width: 50%;
            left: 0;
            top: 0;
            overflow: hidden;
            border-right: 1px solid $line_color2;
            span {
                margin-left: 1.5em;
            }
        }
        .next {
            position: absolute;
            text-align: right;
            width: 50%;
            right: 0;
            top: 0;
            overflow: hidden;
            span {
                margin-right: 1.5em;
            }
        }
    }
}

.aside_wrap {
    float: right;
    width: 30%;
    margin-top: 30px;
    .aside {
        padding-left: 30px;
    }
    .aside_box {
        padding: 20px;
        background: #fff;
    }
    .title {
        text-align: center;
        font-size: 20px;
        padding: 10px 0 20px;
        font-family: "Molle", sans-serif;
    }

}

.tag_item {
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid $theme;
    margin: 0 10px 10px 0;
    &:hover {
        text-decoration: none;
    }
}

//******************************  post list  starts *******************************//

.grid {
    margin: 0 auto;
}

.grid-item {
    float: left;
}

.grid-sizer,
.grid-item { width: 33%; }

.grid-item img {max-width: 100%;}

// pad and pc
.list {
    .cover_img {
        display: block;
        height: 220px;
        background-position: center top;
        background-size: cover;
    }
    .info {
        margin-bottom: 0;
    }
    .post_body {
        font-size: 14px;
        padding-top: 30px;
        img {
            display: none;
            height: 1px;
        }
    }
    .post {
        .content {
            padding: 1em;
        }
        .article {
            background: #fff;
            padding-bottom: 10px;
            border-radius: 4px;
            overflow: hidden;
            &:hover {
                box-shadow: 0 0 5px $shadow_color;
            }
        }
        .post_main {
            padding: 20px 30px;
        }
        .title {
            padding-top: 10px;
            font-size: 24px;
            font-weight: normal;

            a {
                color: darken($font_color, 10%);

                &:hover {
                    color: $primary;
                    border-bottom: none;
                }
            }
        }
    }
}


//****************************** post list ends *******************************//

/* for categories*/

.categories {
    list-style: none;
    display: block;
    clear: both;
    padding: 0;
    margin-top: 50px;

    li {
        font-size: 16px;
        display: inline-block;
        color: #fff;
        *display: inline;

        text-align: left;

        position: relative;

        h3 {
            font-size: 1.2em;
            word-wrap: break-word;
            overflow: hidden;
            font-weight: normal;
        }

        span {
            color: #999;
            font-size: 0.8em;
        }

        a {
            margin: 20px 40px;
            width: 160px;
            float: left;
            height: 180px;
            border: 1px solid #c8c8c8;
            background: #fff;
            padding: 60px 30px;

            &:hover {
                border: 1px solid #b7b7b7;
                -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
                -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
                box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);

                h3 {
                    padding-left: 2px;
                }
            }
        }
    }
}

/* for archive and tags*/
.tag_wrap {
    padding-top: 30px;
}

.list_with_title {
    font-size: 16px;
    background: $bg1;
    padding: 1.5em 3em;
    margin: 0;

    li {
        list-style-type: none;
        padding: 0;
    }

    h3 {
        font-weight: bold;
        line-height: 2.2em;
        font-size: 1.4em;
        color: #555;
        text-align: center;
        border-bottom: 1px solid $line_color;
        margin: 0;
    }

    .listing {
        margin: 0 0 50px 0;
        padding: 0;

        li {
            list-style-type: none;
            line-height: 1.3;
            border-bottom: 1px solid $line_color;
            position: relative;
            padding: 1em 0;
            text-align: left;
            font-weight: normal;
            *font-size: 18px;

            a {
                color: $font_color;
                text-decoration: none;
                padding-bottom: 1px;

                &:hover {
                    color: darken($font_color, 10%);
                    text-shadow: 1px 1px $line_color;
                    border-bottom: none;
                }
            }

            &:hover {
                background: $bg2;
            }
        }
    }

    .date {
        float: right;
        color: #999999;
        font-size: 14px;
        margin-right: 5px;
    }
}

.round {
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    display: block;

}

/* paginator */
.pager {
    position: relative;
    height: 57px;
    margin: 50px 0 0 0;

    a {
        height: 57px;
        width: 57px;
        line-height: 57px;

        color: #333;
        background: #fff;
        letter-spacing: 1px;
        font-size: 12px;
        text-decoration: none;

        text-align: center;
        border: 1px solid #d3d3d3;

        &:hover {
            color: #fff;
            background: $primary;
        }
    }

    .next {
        position: absolute;
        right: 0;
    }

    .pre {
        position: absolute;
        left: 0;
    }
}

/*footer starts*/
.footer {
    position: relative;
    margin-top: 30px;
    padding-top: 20px;
    background: #fff;

    .back {
        position: absolute;
        height: 40px;
        width: 40px;
        right: 40px;
        left: auto;
        top: 0;
        border-radius: 0 0 4px 4px;
        background: $theme;
        text-align: center;
        line-height: 40px;
    }

    .footer_box {
        width: 30%;
        float: left;
        .title {
            line-height: 2.3;
            font-size: 20px;
            margin-bottom: 30px;
            border-bottom: 1px solid $theme;
            font-family: "Molle", sans-serif;
        }
        li {
            line-height: 2;
        }
    }

    .footer_tag {
        width: 40%;
    }

    .footer_item {
        padding: 0 20px;
    }

    .avatar {
        height: 80px;
        width: 80px;
        margin-bottom: 10px;
        border-radius: 50%;
        border: 2px solid $theme;
    }

    .contact {
        font-size: 30px;
        a {
            display: inline-block;
            margin: 0 10px;
        }
    }

    a:hover {
        text-decoration: none;
    }

    .powered_by {
        padding: 30px 0 20px;
        font-size: 12px;
        text-align: center;
    }
}

// main container
#fb_comments_container {
    //padding: 1.875em 0;
    padding: 2.7em 0;
    margin: 1.5em 4%;
}

#main {
    #fb_comments_container {
        padding: 1em 0;

        #fb_comments {
            padding: 0 2em;
        }

        #fb_new_comment {
            margin-top: 3em;
            padding: 0 2em;
        }

    }
}

@media only screen and (max-width: 1200px) {
    .layout {
        width: 980px;
    }
}

@media only screen and (max-width: 1000px) {
    .layout {
        width: 90%;
    }
    .grid-item {
        width: 50%;
    }
    .detail {
        width: 100%;
        float: none;
    }
    .aside {
        display: none;
    }
    .footer {
        .footer_box {
            width: 33.3%;
        }
    }
}

@media only screen and (max-width: 650px) {
    .media_wrap {
        display: none;
    }
    .nav {
        li {
            float: left;
            width: 50%;
            text-align: center;
        }
        a {
            padding: 0;
        }
    }
    .layout {
        width: 100%;
    }
    .grid-item {
        width: 100%;
    }
    .footer {
        .footer_box {
            float: none;
            width: 100%;
        }
    }
}


/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #333;
    background: #f8f8f8;
}

.hljs-comment,
.hljs-quote {
    color: #998;
    font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
    color: #333;
    font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
    color: #008080;
}

.hljs-string,
.hljs-doctag {
    color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
    color: #900;
    font-weight: bold;
}

.hljs-subst {
    font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
    color: #458;
    font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
    color: #000080;
    font-weight: normal;
}

.hljs-regexp,
.hljs-link {
    color: #009926;
}

.hljs-symbol,
.hljs-bullet {
    color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
    color: #0086b3;
}

.hljs-meta {
    color: #999;
    font-weight: bold;
}

.hljs-deletion {
    background: #fdd;
}

.hljs-addition {
    background: #dfd;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}